<!doctype html>
<html>
  <head>
    <title>Flock - quiz</title>
  </head>
  <body>
    <h2> {{ name }} ({{ cca2 }})</h2>
    <img style="border:5px solid black" src="data:image/png;base64,{{ flag }}"/>
  </body>
</html>
